<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="linzeliang.top"/>
    <meta name="robots" content="all"/>
    <title>留言板</title>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" th:href="@{/css/gloable.css}"/>
    <link rel="stylesheet" th:href="@{/css/nprogress.css}"/>
    <link rel="stylesheet" th:href="@{/css/message.css}"/>
</head>
<body>
    <div class="header">
    </div>
    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
                <a class="header-logo" id="logo">linzeliang</a>
                <nav class="nav" id="nav">
                    <ul>
                        <li><a th:href="@{/index.html}">首页</a></li>
                        <li><a th:href="@{/article.html}">博客</a></li>
                        <li><a th:href="@{/message.html}">留言</a></li>
                        <li><a th:href="@{/link.html}">友链</a></li>
                    </ul>
                </nav>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>
    <div class="doc-container" id="doc-container">
        <div></div>
        404，页面丢失啦！
    </div>
    <footer class="grid-footer">
        <div class="footer-fixed">
            <div class="copyright">
                <div class="info">
                    <div class="contact">
                        <a th:href="@{https://github.com/linzeliang1222}"><i class="fa fa-github"></i></a>
                        <a title="523543574"><i class="fa fa-qq"></i></a>
                        <a title="linzeliang1222@gmail.com"><i class="fa fa-envelope"></i></a>
                    </div>
                    <p class="mt05">
                        Copyright &copy; 2021 By linzeliang
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/yss/gloable.js}"></script>
    <script th:src="@{/js/plugins/nprogress.js}"></script>
    <script>NProgress.start();</script>
    <script th:src="@{/js/pagemessage.js}"></script>
    <script>NProgress.start();</script>
    <script>
        window.onload = function () {
            NProgress.done();
        };
    </script>
</body>
</html>
